body{
    text-align: center;
    
  }
  h1{
    font-family: Georgia, serif;
    font-size: 50px;
    background-color: #003366;
    color: white;
  }
  h4{
    font-family: monospace;
    font-size: 20px;
    color: #003366;
  }
  #image{
    height: 600px;
    max-width: 800px;
    display: center;
    border-radius: 10%;
    position: relative;
  }
  #img-caption{
    font-family: Lobster,monospace;
    text-align: center;
  }  
  p{
  font-family: sans;
  text-align: justify;
  }
  #tribute-link:hover {
    color: red;
  }
  
  
  
  